.task::placeholder {
    color: black;
    font-size: smaller;
}
.task {
    font-size: 18px; 
  }
  

input[type=checkbox]:checked + .task {
    color:green;
    text-decoration: line-through;
  } 
  
.todo-container {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 2rem auto;
    padding: 2rem;
    width: 80%;
  }
.save-button {
    background-color: #3498db;
  color: white;
  border: none;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.save-button:hover {
    background-color: #2980b9;
  }
  
  .save-button:active {
    background-color: #1f77a5;
  }
  .theme-button {
    background-color: #3498db;
  color: white;
  border: none;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}